
<div id='exam-contents'>

  <ul>
  <li><%= link_to "テスト開始する", :controller => "exams", :action => "index" %></li>
    <% if current_user %>
      <li><%= link_to "あなたの成績" ,logout_path %></li>
    <% else %>
  　  <li>あなたの成績（ログインしないと表示できません）</li>
    <% end %>
  </ul>
</div>
