// .ui-menu { width: 200px; }

@mixin column {
  float: left;
  margin: 5px;
  padding: 5px;
}

@mixin base-font {
  //font color
  color: #666;
}

@mixin base-border {
  //border-color: #cc00cc;
  border-color: #666;
  border-width: 4px;
  border-style: dotted;
}

@mixin base-table-design {
	background-color: #ffffff;
	border:#666 1px solid;
	border-collapse: collapse;
	font-size: 11px;
	width: 100%;
	color:#666;
} 

@mixin table_top {
        border:#666 1px solid;
	background-color: #ff99ff;
	text-align: left;
	padding: 10px;
} 
@mixin table_lineA {
	background-color: #fff;
        border:#666 1px solid;
	text-align: left;
	padding: 10px;
	vertical-align: top;
}
@mixin table_lineB {
	background-color: #ffccff;
        border:#666 1px solid;
	text-align: left;
	padding: 10px;
	vertical-align: top;
}
//droppy menu
#droppy-menu {
  background-color: #cccccc;
  height: 24px;
}

.contents-part {
  @include column;
  @include base-font;
  @include base-border;
}

.contents-part > h2 {
  color: #33ccff;
}
.contents-part > h3 {
  color: #ff66cc;
}



.table_base {
  @include base-table-design;
}

.tbl_top {
  @include table_top;
}
.tbl_lineA {
  @include table_lineA;
}
.tbl_lineB {
  @include table_lineB;
}


