<!--
<h1><％＝ current_user.name ％>さんの成績</h1>
-->
<table>
  <tr>
    <th>カテゴリ</th>
    <th>サブカテゴリ</th>
    <th>正答率</th>
  </tr>


<% @objlist.each do |line| %>
  <tr>
    <td><%= line[0] %></td>
    <td><%= line[1] %></td>
    <td class="rate"><%= line[2] %></td>
  </tr>
<% end %>
</table>
